html(lang = "es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        title Cimientos Sólidos S.A 

    body 
        header 
            h1 Cimientos Sólidos S.A. 
            nav 
                // Agregar enlaces de navegacion
                       
        main 
            block content 

        footer 
            p Proyecto Cimientos Sólidos S.A. - Grupo Orión